<div class="navbar bg-base-100 shadow-sm">
     <div><%= link_to "ToDo", notes_path, class:"btn btn-ghost text-xl" %></div>
     <div class= "w-full flex justify-end"><%= link_to "New Task", new_note_path, class: "btn md btn-success text-xl" %> </div>
</div>